* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  font-size: 16px;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  font-size: 1rem;
}

:root {
  --primary-color: #043A53;
  /* Blue */
  --secondary-color: #12141D;
  /* Dark blue */
  --background-color: #F2F5F6;
  /* Light gray */
  --text-color: #92A7B0;
  /* Dark gray */
  --head-color: #F0B73F;
  /* Yellow */
  --light-color: #fff;
  /* white */
  --dark-color: #000;
  /* black */
  --para-color: #404040;
  /* gray */
  --text-para-color: #1E1E1E;
  /* light black */
  --slide-color: #D7E0E5;
  /*light blue */
  --border-color: #888888;
  /*gary*/
  --link-colr: #6439FF;
  /*light blue*/
  --circle-color:#2d566b;
}

/* global style : start */

label,
ul,
ol,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  line-height:100%;
  font-weight: 800;
}

h2 {
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-weight: 700;
}
h3{
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

}

h6 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
}

P {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;

}

a {
  font-size: 1rem;
  line-height: 100%;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: var(--link-colr);
}

.wrapper {
  /* padding:0 9.375rem; */
  max-width: 1180px;
  margin: 0 auto;
}


.btn-tag {
  padding: 0.625rem;
  border-radius: 2.5rem;
  transition: all 0.3s ease;
  text-decoration: none;
  width: auto;
  height: 3.125rem;
  border: none;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  min-width: 5.75rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-tag>a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 0.0625rem solid var(--primary-color);
}
.btn-primary:active,
.btn-primary:hover{
  background-color: var(--light-color);
  color: var(--primary-color);
  transform: scale(1.1);
}

.btn-secondary {
  background-color: var(--light-color);
  color: var(--secondary-color);
  opacity: 0.7;
  border: 0.0635rem solid var(--light-color);
}
.btn-secondary:active,
.btn-secondary:hover{
  background-color: var(--secondary-color);
  color: var(--light-color);
  opacity: 0.7;
  transform: scale(1.1);
}

.arrow-link {
  content: url(./images/rightarrow.svg);
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
  cursor: pointer;
}

.card {
  width: auto;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

@media (max-width:1200px){
  h1{
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.375rem;
    font-weight: 700;
  }
  P {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
  .wrapper {
    padding:2.5rem 1.25rem !important;
  }
  @media (min-width:1920px) {
    .wrapper {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

/* global style : end */


/* header style : start */
header {
  height: 6.25rem;
  padding: 1.25rem 1.5625rem;
  background-color: var(--background-color);
}

.nav {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 2fr;

}

.nav ul li>a {
  color: var(--secondary-color);
  opacity: 0.7;
  text-decoration: none;
}

.nav ul li>a.active {
  color: var(--primary-color);
  opacity: 0.7;
  text-decoration: none;
  background-color: transparent;
}

.nav ul li>a:hover,
.nav ul li>a:active {
  color: var(--primary-color);
  opacity: 0.7;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.5rem;
  width: 100%;
}

.nav-menu-items li:last-child {
  width: 100%;
  justify-items: flex-end;
}

.nav-links .user-btns {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

/* .nav > .nav-header {
    display: inline;
  } */

.nav>.nav-title {
  display: inline-block;
  font-size: 1.375rem;
  color: var(--light-color);
  padding: 0.625rem;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav>.nav-links>a {
  display: inline-block;
  padding: 0.8125rem 0.625rem 0.8125rem 0.625rem;
  text-decoration: none;
}

.nav>#nav-check {
  display: none;
}

@media (max-width:991px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    padding: 0.8125rem;
    background-image: url('./images/Menu.svg');
    background-repeat: no-repeat;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 1.5625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--dark-color);
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top:3.125rem;
    left: 0px;
    background-color: var(--primary-color);
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 30vh);
    overflow-y: auto;
    z-index: 99;
  }

  .nav>.nav-links>.user-btns {
    flex-direction: column;
    display: flex;
    row-gap: 0.625rem;
    margin-top: 1.25rem;
  }

  .nav>.nav-links>.nav-menu-items {
    flex-direction: column;
  }
  .nav>.nav-links>.nav-menu-items li:nth-child(6){
    background-color: transparent;
    border-bottom: 0;
    justify-items: center;
    padding: 0;
  }
  .nav>.nav-links>.nav-menu-items li:nth-child(6) .btn-tag{
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    border: 0;
    padding: 0;
    opacity: 1;
  }
  .nav>.nav-links>.nav-menu-items li:nth-child(6) .btn-tag:nth-child(1){
    border-bottom:0.0625rem solid var(--background-color);
    width: 100%;
    border-radius: 0;
  }
  .nav>.nav-links>.nav-menu-items li:nth-child(6) .btn-tag a{
    color: var(--head-color);
  }
  .nav>.nav-links>.nav-menu-items li:nth-child(6) .user-btns{
    display: block;
    width: 100%;
  }
  .nav>.nav-links>.nav-menu-items li{
    background-color: var(--primary-color);
    width: 100%;
    height: 3.125rem;
    text-align: center;
    padding: 0.9375rem;
    border-bottom: 0.0625rem solid var(--background-color);
  }

  .nav>.nav-links>.nav-menu-items li a.active,
  .nav>.nav-links>.nav-menu-items li a:active
  {
    opacity: 1;
  }
  .nav>.nav-links>.nav-menu-items li a{
    color: var(--light-color);
  }


  .nav>.nav-logo {
    position: fixed;
  }
}

/* header style : end */

/* hero section style : start */
.hero-section {
  width: 100%;
  background-color: var(--background-color);
}

.hero-section .wrapper {
  text-align: center;
  margin: 0 auto;
  padding:11.25rem 0;
}


.hero-section .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-section .banner .main-content {
  padding: 1.875rem;
}


.hero-section .banner .main-content h1 {
  color: var(--secondary-color);
  margin-bottom: 1.875rem;
}

.hero-section .banner .main-content span {
  color: var(--primary-color);
}

.hero-section .banner .main-content p {
  color: var(--secondary-color);
  opacity: 0.7;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1.875rem;
}

.hero-section .banner .main-content h1 {
  color: var(--secondary-color);
  margin-bottom: 1.875rem;
}

.hero-section .banner .main-content .btns-link .btn-primary {
  padding: 0.625rem 1.25rem;
  position: relative;
  box-shadow: rgb(40 62 71 / 0.25) 0px 25px 25px -5px, rgb(0 0 0 / 0.13) 0px 10px 10px -5px;
}

.hero-section .banner .main-content .btns-link .btn-secondary {
  background: transparent;
}

.hero-section .banner .main-content .btns-link a {
  font-size: 1.125rem;
}

.hero-section .banner .main-content a.play-img {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  color: var(--primary-color);
  font-size: 1.125rem;
  cursor: pointer;

}

.hero-section .banner .main-content .btns-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.hero-section .wrapper p {
  max-width: 43.75rem;
  text-align: center;
  margin: 0 auto;
}

@media (max-width:1440px) {
  .hero-section .banner .main-content {
    padding: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .hero-section .wrapper{
    padding:11.25rem 0;
  }
}
@media (max-width:1200px){
  .hero-section .banner .main-content h1 {
    margin-bottom: 0;
  }
  .hero-section .banner {
    flex-wrap: wrap;
  
  }
  .hero-section .banner .main-content{
    flex: 1 1 100%;
    order: 1;
    padding-bottom: 3.75rem;
  }
  .hero-section .banner .banner-img-left{
    flex: 1 1 45%;
    order: 2;
    display: flex;
    justify-content: flex-end;
  }
  .hero-section .banner .banner-img-right{
    flex: 1 1 45%;
    order: 2;
    display: flex
  }
  .hero-section .banner .main-content p{
    padding-top: 0.9375rem;
  }
  .hero-section .banner .main-content .btns-link{
    flex-direction: column;
  }
}

/* hero section style : end */

/* brand section style : start */
.brand-section {
  background-color: var(--light-color);
}

.brand-section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  padding: 3.125rem 0;
}


.brand-section ul li h6{
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1rem;

}

@media (min-width:1920px) {
  .brand-section ul {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width:1200px) {
  .brand-section ul {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .brand-section ul li:nth-child(1){
    flex: 1 1 100%;
    order: 1;
  }
  .brand-section ul li h6{
    font-size: 0.75rem;
  }
  .brand-section ul li:nth-child(2),
  .brand-section ul li:nth-child(3),
  .brand-section ul li:nth-child(4){
    flex: 1 1 25%;
    order: 2;
    display: flex;
    justify-content: center;
  }
  .brand-section ul li:nth-child(5),
  .brand-section ul li:nth-child(6)
  {
    flex: 1 1 25%;
    order: 3;
    display: flex;
  }
  .brand-section ul li:nth-child(2),
  .brand-section ul li:nth-child(5){
    justify-content: flex-end;
  }
  .brand-section ul li:nth-child(4),
  .brand-section ul li:nth-child(6){
    justify-content: flex-start;
  }
}

/* brand section style : end */


/* video section style : start */
.video-section {
  background-color: #043A53;
  padding: 6.25rem 0 0;
}
.video-section .wrapper{
  padding-bottom: 0 !important;
}

.video-section .video-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.video-section .video-head label h2:first-child {
  color: var(--light-color);
}

.video-section .video-head label h2:nth-child(2) {
  color: var(--head-color);
  white-space: nowrap
}

.video-section .video-head p {
  max-width: 26.875rem;
  color: var(--light-color);

}

.video-section .video-content {
  padding: 4.0625rem 0 0;
}

.video-section .brand-video {
  background-image: url('./images/Video.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 32.25rem;
  width: auto;
  transition: all .4s ease;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  position: relative;

}
.video-section  .thumbnail-play-btn{
  content: url('./images/play-icon.svg');
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px; 
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.video-section .thumbnail{
  position: relative;
  display: flex;
  justify-content: center;
  
}
.video-section .thumbnail img{
  width: 100%;
}

@media (min-width:1920px) {
  .video-section .video-head p {
    max-width: 100%;
  }
}
  
@media (max-width:1200px){
  .video-section {
    background-color: #043A53;
    padding: 0.625rem 0 0;
  }
  .video-section .video-head p,
  .video-section .video-head{
   flex-direction: column;
   align-items: flex-start;
  }
  .video-section .video-head{
    gap: 1rem;
  }
  .video-section .video-content{
    padding: 2rem 0 0;
  }
  .video-section  .thumbnail-play-btn{
    width: 4.0625rem;
    height: 4.0625rem;
  }

}
/* video section style : end */

/* benefit section style  : start */
.benefit-section {
  padding: 6.25rem 0;
  
}

.benefit-section .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.benefit-section .items .btn-primary {
  height: 2.8126rem;
  padding: 0.625rem 1.5625rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;

}

.benefit-section .items li:not(.main-content) {
  background-color: var(--background-color);
  padding: 1.5625rem;

}

.benefit-section .items li:first-child {
  padding: 0 2.1875rem 1.5625rem 0;

 
}
.benefit-section .items li:first-child  h2 {
  margin-top: 2.1875rem;
}

.benefit-section .items h5,
.benefit-section .items li:first-child p,
.benefit-section .items h2 {
  color: var(--secondary-color);
}

.benefit-section .items li p {
  color: var(--para-color);
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.9375rem;
}

.benefit-section .items li h5 {
  margin-top: 1.875rem;
}

.benefit-section .items li:first-child p {
  font-size: 1.25rem;

}

.benefit-section .benefit-calc {
  text-align: center;
  padding: 6.25rem 0.625rem;
}

.benefit-section .benefit-calc .items-calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
}

.benefit-section .benefit-calc .items-calc h2 {
  color: var(--primary-color);
}

.benefit-section .benefit-calc .items-calc p {
  color: var(--text-para-color);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0.9375rem;
}

.benefit-section .benefit-founder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
  padding: 0.9375rem;
}

.benefit-section .benefit-founder p {
  font-size: 1.5rem;
  line-height:2rem;
  margin: 1.875rem 0;
}

.benefit-section .benefit-founder p,
.benefit-section .benefit-founder h6,
.benefit-section .benefit-founder h2 {
  color: var(--secondary-color);
}

.benefit-section .benefit-founder label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--para-color);
}

.benefit-section .benefit-founder .btn-primary {
  display: block;
  margin-top: 3.75rem;
  padding: 0.625rem 3.75rem 0.625rem 1.5625rem;
}
.benefit-section .benefit-calc .items-calc p{
  color: var(--para-color);
}
@media (max-width:1200px){
  .benefit-section{
    padding: 3.125rem 0;
  }
  .benefit-section .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .benefit-section .items li:first-child{
    text-align: center;
  }
  .benefit-section .items li:first-child{
    padding: 0 0 1.5625rem 0;
  }
  .benefit-section .items .btn-primary{
    margin: 0 auto;
  }
  .benefit-section .benefit-calc .items-calc{
    grid-template-columns: repeat(2, 1fr);
  }

}

/* benefit section style  : end */



/* building-bridges section style : start */
.building-bridges-section .wrapper{
 padding-left: 0;
 margin: 0;
 max-width: 100%;
 padding-bottom: 0 !important;
}

.building-bridges-section .items-right{
  padding-bottom:8.125rem ;
  padding-left: 9.375rem;
}

.building-bridges-section .building-items {
  display: flex;
  align-items: center;

}
.building-bridges-section .building-items li:first-child,
.building-bridges-section .building-items li:last-child{
  flex: 1;
}
.building-bridges-section .building-items .items-left{
  position: relative;
}
.building-bridges-section .building-items .shape{
  height: 14.375rem;
  width: 14.375rem;
  border-radius: 50%;
  border: 6px solid var(--light-color);
  background-color: var(--primary-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  top: 65%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(7 56 81 / 19%) 0px 54px 55px, rgb(7 56 81 / 5%) 0px -12px 30px,
   rgb(7 56 81 / 0%) 0px 4px 6px, rgb(7 56 81 / 32%) 0px 12px 13px, rgb(7 56 81 / 0%) 0px -3px 5px;;
}

.building-bridges-section .building-items .shape .circle{
  height: 3.75rem;
  width:  3.75rem;
  border-radius: 100%;
  background-color:var(--circle-color);


}

.building-bridges-section .building-items .shape  h3{
  color: var(--light-color);
  padding-top:1rem;
}
.building-bridges-section .building-items .shape  p{
  font-size: 1rem;
  line-height:1.5rem ;
  color: var(--light-color);
}
.diamond{
  width: 2.5rem;
  height: 2.5rem;
  background-color:var(--light-color); /* Color of the diamond */
  clip-path: polygon(51% 100%, 100% 37%, 86% 0, 15% 0, 0% 38%);
  display: block;
  z-index: 9999;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
   }
   .diamond-inner{
    width: 2rem;
    height:2.1875rem;
    background-color:var(--primary-color);
   }

 

.building-bridges-section .building-items .btn-primary {
  display: block;
  margin-top: 1.875rem;
  padding: 0.625rem 3.75rem 0.625rem 1.5625rem;
}
.building-bridges-section .building-items .btn-primary:hover{
  background-color: var(--primary-color);
  color: var(--light-color);
}

.building-bridges-section .building-items h2 {
  color: var(--secondary-color);
  margin-bottom: 1.875rem;
}

.building-bridges-section .building-items span {
  color: var(--text-color);
}

.building-bridges-section .building-items p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--secondary-color);
}
@media (max-width:1200px){
  .building-bridges-section .building-items{
    flex-direction: column-reverse;
    text-align: center;
  }
  .building-bridges-section .building-items .items-right{
    padding: 10px;
  }
  .building-bridges-section .building-items .btn-primary{
    margin: 0 auto;
  }
  .building-bridges-section .building-items h2{
    margin-bottom: 1rem;
  }
  .building-bridges-section .building-items .items-right p{
    margin :1rem 0;
  }
  .building-bridges-section .building-items .items-left{
    margin-left: -22px;
    padding: 32px 50px 0 0;
  }
  .building-bridges-section .building-items .shape{
    height: 11.375rem;
    width: 11.375rem;
    top: 75%;
    left: 75%;
  }
  .building-bridges-section .building-items .shape h3{
    font-size: 2.25rem;
    padding-top: 4rem;
  }
  .building-bridges-section .building-items .shape p{
    font-size: 0.875rem;
  }
  .building-bridges-section .building-items .shape .circle{
    position: absolute;
    top: 10%;
  }
  
}


/* building-bridges section style :end */

/* we-trust section style : start */
.we-trust-section {
  background-color: var(--background-color);
  padding: 6.25rem 0;
}

/* Slideshow container */

.mySlides {
  display: none
}

.we-trust-section img {
  vertical-align: middle;
}

.slideshow-container {
  /* max-width: 71.25rem; */
  position: relative;
  margin: auto;
}

@media (min-width:1920px) {
  .slideshow-container {
    max-width: 100%;
    width: 100%;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 0.125rem;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 0;
}

/* The dots */
.dot {
  cursor: pointer;
  height: 0.75rem;
  width: 1.25rem;
  margin: 0 0.125rem;
  background-color: var(--slide-color);
  border-radius: 0.625rem;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 3.75rem 0 0;
}

.dot:hover {
  background-color: var(--primary-color);
}

.dot.active {
  background-color: var(--primary-color);
  width: 5rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 0.6875rem;
  }
}

.we-trust-section .container-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.1875rem;
}

.we-trust-section .modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.625rem;
  padding-bottom: 3.75rem;
}

.we-trust-section .modal-head h2 {
  color: var(--secondary-color);
}

.we-trust-section .modal-head a {
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
  padding: 0 1.875rem;
}

.we-trust-section .modal-head img {
  position: absolute;
  right: 0px;
  top: 0.25rem;
}

.we-trust-section .modals-show .slideshow-container .card {
  padding: 1.5625rem;
  background-color: var(--light-color);
}

.we-trust-section .modals-show .slideshow-container .card p {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.625rem 0;
}

.we-trust-section .modals-show .slideshow-container .card .profile {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  padding-top: 1.5625rem;
}

.we-trust-section .modals-show .slideshow-container .card .profile h6 {
  color: var(--dark-color);
  padding-bottom: 0.3125rem;
}

.we-trust-section .modals-show .slideshow-container .card .profile label {
  color: var(--para-color);

}

/* we-trust section style : end */

/* blog section style : start */

.blog-section {
  padding: 6.25rem 0;
  
}

.blog-section .blog-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-section .blog-head h2 {
  color: var(--secondary-color);
}

.blog-section .blog-head a {
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
  padding: 0 1.875rem;
}

.blog-section .blog-head a img {
  position: absolute;
  right: 0px;
  top: 0.25rem;
}

.blog-section .blog-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 3.75rem 0;
}

.blog-section .blog-body .card img {
  width: 100%;
}

.blog-section .blog-body .card .blog-details {
  padding: 0.9375rem 1.5625rem;
}

.blog-section .blog-body .card .blog-details label {
  font-weight: 400;
  color: var(--para-color);
}

.blog-section .blog-body .card .blog-details label b {
  font-weight: 700;
  color: var(--dark-color);

}

.blog-section .blog-body .card .blog-details h5 {
  padding-top: 0.9375rem;
  color: var(--dark-color);
}

.blog-section .blog-body .card .blog-details p {
  color: var(--para-color);
  padding: 0.5rem 0 0.9375rem;
}

.blog-section .blog-body .card .blog-details a {
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
  padding: 0 1.875rem 0 0;
  text-decoration: none;

}

.blog-section .blog-body .card .blog-details a img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
}

/* blog section style : end */

/* cta-banner section style : start */

.cta-banner-section {
  background-color: var(--dark-color);
  padding-bottom: 0;
}
.cta-banner-section .left-content p{
  padding-top: 1.5625rem;
  padding-bottom:6.25rem ;
  color: var(--light-color);
  opacity: 0.7;

}
.cta-banner-section .left-content h2{
  padding: 6.25rem 0 3.125rem 0;
}

.cta-banner-section .cta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.cta-banner-section h2 {
  color: var(--light-color);
  padding-bottom: 3.125rem;
}

.cta-banner-section .btn-get {
  background-color: var(--head-color);
  color: var(--light-color);
  padding: 1.125rem 3.75rem 1.125rem 1.5625rem;
  cursor: pointer;

}

.cta-banner-section .btn-get .arrow-link {
  content: url('./images/right-btn-y.svg');
}

.cta-banner-section .btn-get a {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* cta-banner section style : end */

/* footer section style : start */
footer {
  
}

footer .footer-items {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}

footer .footer-items li {
  justify-items: center;
}

footer .footer-items li:nth-child(1) {
  width: 27%;
  justify-items: flex-start;
}

footer .footer-items li:nth-child(2) {
  width: 35%;
}

footer .footer-items li:nth-child(3) {
  width: 18%;
  cursor: pointer;
  justify-items: end;
}

footer .footer-items li:nth-child(4) {
  width: 16%;
  justify-items: flex-start;
  cursor: pointer;
  justify-items: end;
}



footer .footer-items li p {
  color: var(--para-color);
}

footer .footer-items li ul li:first-child {
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 1.875rem;
}

footer .footer-items li ul li {
  color: var(--para-color);
  margin-bottom: 1.25rem;
  width: 100% !important;
}


footer .footer-items .social-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 3.125rem;
  cursor: pointer;
}

footer .footer-mid {
  background-color: var(--background-color);
  padding: 2.5rem 0px 1.25rem;
  display: flex;
  justify-content: center;
}

footer .footer-mid .card {
  background-color: var(--light-color);
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.9375rem;
  box-shadow: none;
  text-align: center;

}

footer .footer-mid .card p {
  border-bottom: 0.0625rem solid var(--border-color);
  padding: 1.875rem 6.25rem;
  font-size: 1rem;
  color: var(--para-color);

}

footer .footer-mid .card p a {
  text-decoration: none;
  font-weight: 400;
}

footer .footer-mid .admin {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  padding: 1.875rem 6.25rem;
}

footer .footer-mid .sub-content h6 {
  color: var(--para-color);
  padding: 1.875rem 0 0;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
}

footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  background-color: var(--background-color);
  border-top: 0.0625rem solid var(--dark-color);
}

footer .footer-bottom ul {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  color: var(--text-color);
  cursor: pointer;
}

footer .footer-bottom a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
}

footer .footer-bottom select {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding-left: 1.75rem;
  background-image: url('./images/select-icon.svg');
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 0.625rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25rem;

}

footer .footer-bottom select:focus {
  outline: none;
  border-color: transparent;
}

footer .footer-bottom .select-container {
  position: relative;
}

footer .footer-bottom .select-container::before {
  content: url('./images/lang.svg');
  position: absolute;
  left: 0;
}

/* footer section style : end */