* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
     text-size-adjust: none;
}
html{
    font-size: 16px;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-style: normal;
}
body{
    font-size: 1rem;
}
:root {
    --primary-color: #043A53;    /* Blue */
    --secondary-color: #12141D;  /* Dark blue */
    --background-color:#F2F5F6;  /* Light gray */
    --text-color: #92A7B0;       /* Dark gray */
    --head-color: #F0B73F;       /* Yellow */
    --light-color: #fff;         /* white */
    --dark-color: #000;          /* black */
    --para-color:#404040;        /* gray */
    --text-para-color:#1E1E1E;   /* light black */
    --slide-color:#D7E0E5;       /*light blue */
    --border-color:#888888;      /*gary*/
    --link-colr:#6439FF;         /*light blue*/
  }

/* global style : start */

label,ul,ol,p,a,
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
h1{
    font-size: 4rem;
    line-height: 2.5rem;
    font-weight: 800;
}
h2{
    font-size: 3.75rem;
    line-height: 4.5rem;
    font-weight: 700;
}
h5{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

}
h6{
    font-size: 1.25rem;
    line-height:1.875rem;
    font-weight: 700;
}
P{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;

}
a{
    font-size: 1rem;
    line-height: 100%;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link{
  color: var(--link-colr);
}
.container{

}
@media (min-width:1920px){
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
.btn-tag {
    padding: 0.625rem;
    border-radius: 40px;
    transition: all 0.3s;
    text-decoration: none;
    width: auto;
    height: 50px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    min-width: 5.75rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-tag > a{
    color: inherit;
    text-decoration: none;
  }
  .btn-primary{
    background-color:var(--primary-color);
    color: var(--light-color);
  }
  .btn-secondary{
    background-color:var(--light-color);
    color: var(--secondary-color);
    opacity: 0.7;
  }
  .arrow-link{
    content: url(./images/rightarrow.svg);
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
  }
  .card{
    width: auto;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
/* global style : end */


/* header style : start */
header{
    height: 6.25rem;
    padding: 1.25rem 1.5625rem;
    background-color: var( --background-color);
}
.nav {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 2fr;

  }
  .nav ul li > a{
    color: var(--secondary-color);
    opacity: 0.7;
    text-decoration: none;
  }
  .nav ul li > a.active{
    color: var(--primary-color);
    opacity: 0.7;
    text-decoration: none;
    background-color: transparent;
  }
  .nav ul li > a:hover,
  .nav ul li > a:active{
    color: var(--primary-color);
    opacity: 0.7;
  }
 
  .nav-menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.5rem;
    width: 100%;
  }
  .nav-menu-items li:last-child{
    width: 100%;
    justify-items: flex-end;
  }
  .nav-links .user-btns{
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
  }
  
  /* .nav > .nav-header {
    display: inline;
  } */
  
  .nav >  .nav-title {
    display: inline-block;
    font-size: 1.375rem;
    color:var(--light-color);
    padding: 0.625rem;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:991px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid var(--dark-color);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      background-color: #043A53;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 500px);
      overflow-y: auto;
    }
    .nav > .nav-links > .user-btns{
        flex-direction: column;
        display: flex;
        row-gap: 10px;
        margin-top: 20px;
    }
    .nav > .nav-links > .nav-menu-items{
        flex-direction: column;
    }
    .nav >  .nav-logo{
        position: fixed;
    }
  }

  /* header style : end */

  .hero-section{
    width: 100%;
    background-color: var(--background-color);
  }
  .hero-section .container{
    text-align: center;
    margin: 0 auto;
    padding: 1.25rem;
  }
  .hero-section .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem 7rem;

  }
  .hero-section .banner .main-content{
    padding: 1.875rem;
  }
  @media (max-width:1350px){
    .hero-section .banner .main-content{
        padding: 0;
    }
  }
  .hero-section .banner .main-content h1{
    color: var(--secondary-color);
    margin-bottom: 1.875rem;
  }
  .hero-section .banner .main-content span{
    color: var(--primary-color);
  }
  .hero-section .banner .main-content p{
    color: var(--secondary-color);
    opacity: 0.7;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1.875rem;
  }
  .hero-section .banner .main-content h1{
    color: var(--secondary-color);
    margin-bottom:1.875rem;
  }
  .hero-section .banner .main-content .btns-link .btn-primary{ 
    padding: 0.625rem 1.25rem;
    position: relative;
  }
  .hero-section .banner .main-content .btns-link .btn-secondary{
    background: transparent;
  }
  .hero-section .banner .main-content .btns-link  a{
    font-size: 1.125rem;
  }
  .hero-section .banner .main-content  a.play-img{
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
    color: var(--primary-color);
    font-size: 1.125rem;
    
  }
  .hero-section .banner .main-content  .btns-link{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .hero-section .container p{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }
  .brand-section {
    background-color: var(--light-color);
  }
  .brand-section  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
  }
  @media (min-width:1920px){
    .brand-section ul{
      max-width: 100%;
      width: 100%;
    }
  }
  .brand-section ul li{
    color: var(--dark-color);
    font-weight: 500;

  }

  .video-section {
    background-color: #043A53;
    padding: 3rem 3rem 0;
  }

  .video-section .video-head {
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .video-section .video-head label h2:first-child{
    color: var(--light-color);
  }
  .video-section .video-head label h2:nth-child(2){
    color: var(--head-color);
    white-space: nowrap
  }

  .video-section .video-head p{
    max-width: 430px;
    color: var(--light-color);

  }
  @media (min-width:1920px){
    .video-section .video-head p{
      max-width: 100%;
    }
  }
  .video-section .video-content{
    padding: 65px 10px 0;
  }
  .video-section .brand-video{
    background-image: url('./images/Video.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:580px;
    width: 1130px;
    transition: all .4s ease;
    text-align: center;
    margin: 0 auto;
   
  }

 /* benefit section style */
  .benefit-section{
      padding: 3rem 3rem ;
  }
  .benefit-section .items{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
  }
  .benefit-section .items .btn-primary{
      height: 45px;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 400;

  }
  .benefit-section .items li:not(.main-content){
    background-color:var(--background-color);
    padding: 25px;

  }
  .benefit-section .items li:first-child{
    padding:0 35px 25px 0;
    h2{
      margin-top: 35px;
    }
  }
  .benefit-section .items h5,
  .benefit-section .items li:first-child p,
  .benefit-section .items h2{
      color: var(--secondary-color);
  }
  .benefit-section .items li p{
    color: var(--para-color);
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
  }
  .benefit-section .items li h5{
    margin-top: 30px;
  }
  .benefit-section .items li:first-child p{
    font-size: 20px;
   
  }
  .benefit-section .benefit-calc{
    text-align: center;
    padding: 100px 10px;
  }
  .benefit-section .benefit-calc .items-calc{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
  }
  .benefit-section .benefit-calc .items-calc h2{
    color: var(--primary-color);
  }
  .benefit-section .benefit-calc .items-calc p{
    color: var(--text-para-color);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 15px;
  }
  .benefit-section .benefit-founder{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 15px;
  }
  .benefit-section .benefit-founder p{
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0;
  }
  .benefit-section .benefit-founder p,
  .benefit-section .benefit-founder h6,
  .benefit-section .benefit-founder h2{
    color: var(--secondary-color);
  }
  
  .benefit-section .benefit-founder label{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--para-color);
  }
  .benefit-section .benefit-founder .btn-primary{
    display: block;
    margin-top: 60px;
    padding: 10px 60px 10px 25px;
  }



  /* building-bridges section style */
  .building-bridges-section{
      padding: 3rem 3rem ;
  }
  .building-bridges-section .building-items{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
  }
  .building-bridges-section .building-items .btn-primary{
    display: block;
    margin-top: 30px;
    padding: 10px 60px 10px 25px;
  }
  .building-bridges-section .building-items h2{
    color: var(--secondary-color);
    margin-bottom: 30px;
  }
  .building-bridges-section .building-items span{
    color: var(--text-color);
  }
  .building-bridges-section .building-items p{
    font-size: 20px;
    line-height: 30px;
    color: var(--secondary-color);
  }

   /* we-trust section style */
  .we-trust-section{
      padding: 3rem 3rem ;
      background-color: var(--background-color);
  }
  /* Slideshow container */

  .mySlides {
    display: none
  }
  .we-trust-section img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1140px;
    position: relative;
    margin: auto;
  }
  @media (min-width:1920px){
    .slideshow-container {
      max-width:100%;
      width: 100%;
    }
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, 
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 12px;
    width: 20px;
    margin: 0 2px;
    background-color:var(--slide-color);
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 60px 0;
  }

  .dot:hover {
    background-color: var(--primary-color);
  }
  .dot.active{
    background-color: var(--primary-color);
    width: 80px;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .we-trust-section .container-slide{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
  }
  .we-trust-section .modal-head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      padding-bottom: 60px;
  }
  .we-trust-section .modal-head h2{
    color: var(--secondary-color);
  }
  .we-trust-section .modal-head a{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 32px;
    position: relative;
    padding: 0 30px;
  }
  .we-trust-section .modal-head img{
    position: absolute;
    right: 0px;
    top: 4px;
  }
  .we-trust-section .modals-show .slideshow-container .card{
    padding: 25px;
    background-color: var(--light-color);
  }
  .we-trust-section .modals-show .slideshow-container .card p{
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0;
  }
  .we-trust-section .modals-show .slideshow-container .card .profile{
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-top: 25px;
  }
  .we-trust-section .modals-show .slideshow-container .card .profile h6{
     color: var(--dark-color);
     padding-bottom: 5px;
  }
  .we-trust-section .modals-show .slideshow-container .card .profile label{
    color: var(--para-color);
  
  }
 
  /* blog section style */

  .blog-section{
      padding: 3rem 3rem ;
  }
  .blog-section .blog-head{
      display:flex;
      align-items: center;
      justify-content: space-between;
  }
  .blog-section .blog-head h2{
    color: var(--secondary-color);
  }
  .blog-section .blog-head a{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 32px;
    position: relative;
    padding: 0 30px;
  }
  .blog-section .blog-head a img{
    position: absolute;
    right: 0px;
    top: 4px;
  }
  .blog-section .blog-body {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 60px 0;
  }
  .blog-section .blog-body .card img{
    width: 100%;
  }
  .blog-section .blog-body .card .blog-details{
    padding: 15px 25px;
  }
  .blog-section .blog-body .card .blog-details label{
    font-weight: 400;
    color: var(--para-color);
  }
  .blog-section .blog-body .card .blog-details label b{
    font-weight: 700;
    color: var(--dark-color);

  }
  .blog-section .blog-body .card .blog-details h5{
    padding-top: 15px;
    color: var(--dark-color);
  }
  .blog-section .blog-body .card .blog-details p{
    color: var(--para-color);
    padding: 8px 0 15px;
  }
  .blog-section .blog-body .card .blog-details a{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 32px;
    position: relative;
    padding: 0 30px 0 0;
    text-decoration: none;
   
  }
  .blog-section .blog-body .card .blog-details a img{
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
  }

  /* cta-banner section style */

  .cta-banner-section {
    background-color: var(--dark-color);
    padding: 3rem;
    padding-bottom: 0;
  }
  .cta-banner-section .cta-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .cta-banner-section h2{
    color: var(--light-color);
    padding-bottom: 50px;
  }
  .cta-banner-section .btn-get{
    background-color: var(--head-color);
    color: var(--light-color);
    padding: 18px 60px 18px 25px;
    cursor: pointer;

  }
  .cta-banner-section .btn-get .arrow-link{
    content: url('./images/right-btn-y.svg');
  }
  .cta-banner-section .btn-get a{
    font-size: 18px;
    line-height: 28px;
  }

footer{
    padding: 3rem;
}
footer .footer-items {
  display:flex;
  justify-content:space-around;
  padding: 80px 0;
}
footer .footer-items li{
  justify-items: center;
}
footer .footer-items li:nth-child(1){
  width: 33%;
}
footer .footer-items li:nth-child(2){
  width: 33%;
}
footer .footer-items li:nth-child(3){
  width: 18%;
  cursor: pointer;
}
footer .footer-items li:nth-child(4){
  width: 16%;
  justify-items: flex-start;
  cursor: pointer;
} 
footer .footer-items li:nth-child(3) ul li:first-child{
  cursor: auto;
}
footer .footer-items li:nth-child(4) ul li:first-child{
  cursor: auto;
}
footer .footer-items li p{
  color: var(--para-color);
}
footer .footer-items li ul li:first-child{
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 30px;
}
footer .footer-items li ul li{
  color: var(--para-color);
  margin-bottom: 20px;
  width: 100% !important;
}


footer .footer-items .social-logo{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    cursor: pointer;
}
footer .footer-mid{
    background-color:var(--background-color);
    padding: 40px 20px 20px;
    display: flex;
    justify-content: center;
}
footer .footer-mid .card{
    background-color: var(--light-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: none;
    text-align: center;

}
footer .footer-mid .card p{
    border-bottom: 1px solid var(--border-color);
    padding: 30px 100px;
    font-size: 16px;
    color: var(--para-color);
    
}
footer .footer-mid .card p a{
    text-decoration: none;
    font-weight: 400;
}
footer .footer-mid .admin{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px 100px;
}
footer .footer-mid .sub-content h6{
   color: var(--para-color);
   padding: 30px 0 0;
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
}

footer .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: var(--background-color);
    border-top: 1px solid var(--dark-color);
}
footer .footer-bottom ul{
    display:flex;
    align-items: center;
    column-gap: 15px;
    color: var(--text-color);
}
footer .footer-bottom a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}
footer .footer-bottom select{
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding-left:28px;
    background-image: url('./images/select-icon.svg');
    background-repeat: no-repeat;
    background-position: right 6px center; 
    background-size: 10px 20px; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    width: 100px;

}
footer .footer-bottom select:focus {
    outline: none;
    border-color:transparent;
}
footer .footer-bottom .select-container{
    position: relative;
}
footer .footer-bottom .select-container::before{
    content:url('./images/lang.svg');
    position: absolute;
    left: 0;
}